:root{
    --shadow-for-blocks: 0px 1px 2px rgba(0, 0, 0, 0.1);
}

body{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;;
}

a{
    color: rgb(var(--v-theme-primary-600));
    text-decoration: none;
    font-weight: 400;
}
a:hover{
    color: rgb(var(--v-theme-primary-400));
}
a:focus{
    color: rgb(var(--v-theme-primary-700));
}

button.v-btn.v-btn--variant-tonal{
    background: rgb(var(--v-theme-primary-600));
    color: rgb(var(--v-theme-background));
    height: 40px;
    text-transform: none;
}
button.v-btn--variant-outlined{
    min-width: 40px;
    width: 40px;
    height: 40px !important;
    border: 1px solid #DBDBDB;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    box-sizing: border-box;
}
.form-group{
    margin-bottom: 5px;
}
.smallText-12{
    font-size: 12px;
}
.smallText-13{
    font-size: 13px;
}
.smallText-14{
    font-size: 14px;
}
.smallText-15{
    font-size: 15px;
}
h1{
    font-weight: 500;
    font-size: 26px;
    line-height: 31px;
    color: rgb(var(--v-theme-grey-900));
}
h2{
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: rgb(var(--v-theme-grey-900));
}
h3{
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: rgb(var(--v-theme-grey-900));
}
label{
    font-size: 15px;
    margin-bottom: 4px;
    font-weight: 700;
    color: rgb(var(--v-theme-grey-800));
}
/*.v-field__outline{*/
/*    border: solid 1px rgb(var(--v-theme-grey-350));*/
/*}*/
.v-list-subheader .v-list-subheader__text{
    text-transform: uppercase;
}

.pageTitle {
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    color: rgb(var(--v-theme-grey-800));
}
.titleBlock{
    display: block;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    color: rgb(var(--v-theme-grey-800));
    margin-bottom: 10px;
}

.mainPage{
    padding: 10px 30px;
}


* {
    scrollbar-width: thin;
    scrollbar-color: blue #4671F6;
}

*::-webkit-scrollbar {
    width: 1px;
}

*::-webkit-scrollbar-track {
    background: #F3F1F1;
}

*::-webkit-scrollbar-thumb {
    background-color: #4671F6;
    border-radius: 20px;
}